@charset "UTF-8";

.changecolor{
	color: #000000;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: italic;
	
	
	
	
} 
.tilebg{
	background-image: url(../../../Desktop/doresz.jpg);
	background-repeat: repeat;	
}


{
	.mered{
	
}
